[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CS0414: The field 'BamTimeKeeperHandler.leftmostIdxFlashable' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = suggestion
